#centroProdutos { 
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

#centroProduto a {
    text-decoration: none;
    color: black;
}

.filmes { /*deixando a largura do tamanho da tela*/
    width: 100%;
}

.filmes h1 { /*ajeitando o local do título e tamanho*/
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    text-align: center;
}

.titulo {
    margin-top: 0px;
}

.titulo:hover {
    color: #1154ab;
}

.card img{ /*ajeitando tamanho das fotos*/
    width: 16rem;
    border-radius: 10px 10px 0 0;
  
   
}


.card {
    text-align: center;
    box-shadow: 10px 5px 10px rgba(85, 85, 85, 0.212); /*especifica a opacidade do card*/
    border-radius: 10px;
    margin: 0 5rem 2rem;
}

.card p {
    font-weight: bold; /*deixa a fonte em negrito*/
    padding: 0.5rem;
}

.card:hover { /*Este seletor direciona elementos com a classe "card" quando estão passando o mouse*/
    color: #ffffff;
    background-color: #1154ab;
}
.centro span{
    color: #1154ab;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #95c4f7;
    color: #fff;
    text-decoration: none; /* Remove sublinhado padrão de links */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


ul.menu,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
}

/* Configurações nivel 1*/
ul.menu {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 5px;
}

.menu li {
    float: left;
    width: auto;
    position: relative;
}

.menu li a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    height: 45px;
    float: left;
    transition: all 0.1s linear;
}

/* Configurações nivel 2*/
.menu li:hover>ul.submenu-1 {
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.menu ul.submenu-1 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/* Configurações nivel 2*/
.menu li:hover>ul.submenu-2 {
    display: block;
    top: 0;
    left: 195px;
    padding: 5px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
}

.menu ul.submenu-2 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/* Configurações nivel 3*/
.menu li:hover>ul.submenu-3 {
    display: block;
    top: 0;
    left: 195px;
    padding: 5px;
    width: 200px;
    border-radius: 0 5px 5px 5px;
}

.menu ul.submenu-3 a {
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}


/*Configurações de cores*/

/*nivel 1*/
.menu {
    background: #CCC;
}

.menu a {
    color: #000;
}

.menu li:hover>a {
    background: #999;
    color: #fff;
}

/*nivel 2*/
.submenu-1 {
    background: #999;
}

.submenu-1 a {
    color: #fff;
}

.submenu-1 li:hover>a {
    background: #666;
}

/*nivel 3*/
.submenu-2 {
    background: #666;
}

.submenu-2 a {
    color: #fff;
}

.submenu-2 li:hover>a {
    background: #333;
}

/*nivel 3*/
.submenu-3 {
    background: #333;
}

.submenu-3 a {
    color: #fff;
}

.submenu-3 li:hover>a {
    background: #000;
}